CREATE DATABASE postgresss;
CREATE TABLE IF NOT EXISTS GREETINGS (
                                         id serial PRIMARY KEY,
                                         name varchar(50) NOT NULL
    );